*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    color: white;
    font-size: 2rem;
}
.container {
    
    background: rgb(147, 124, 61, .9) url("https://i.postimg.cc/0y7HYfmX/download.jpg") no-repeat center center;
    background-size: contain;
    background-blend-mode: luminosity;
    height: 100vh;
}
:is(h2, #box1) {
    background-color: rgb(31, 31, 32, .8);
    width: fit-content;
    text-shadow: .2vw .4vw .1vw rgba(38, 99, 38, 0.7);
}
/* position relative: 
When an element is positioned relatively, it is positioned relative to its normal flow in the document.*/
#box1 {
    position: relative;
    left: 78px;
    top: 12px;
    border: 2px solid;
    padding-inline: 12px;
}

#box2 {
    position: sticky;
    top: 0;
    border: 2px dotted greenyellow;
    background-color: rgb(31, 31, 32, .8);
}

#box3 {
    position: relative;
    border: 2px dotted rgb(37, 44, 27);
    background-color: rgb(31, 31, 32, .8);
}
#posAbsolute {
    position: absolute;  
    right: 0;
    background-color: rgba(148, 226, 165, 0.8);
  
    box-shadow: inset 1vw .3vw 1vw green;
}